<h1> Welcome to Stupid Questions </h1>

Click on a question to alter or answer it, or start a new question of your own.

<ul>
  {{#each model.questions as |question|}}
    <li>{{#link-to 'question' question.id}}
        {{question-popularity question}}
        {{question.head}}{{question.author}}
        {{/link-to}}
    </li>
  {{/each}}
</ul>

{{new-question saveQ="saveQ"}}

<hr>
